/* web/src/comment.css */
td.d2h-code-side-linenumber.towelie-commentable {
  cursor: pointer;
  transition: background-color .15s, color .15s;
}

td.d2h-code-side-linenumber.towelie-commentable:hover {
  color: #065f46;
  background-color: #10b98124;
}

td.d2h-code-side-linenumber.towelie-commentable:hover:before {
  content: "+";
  position: absolute;
  display: flex;
  color: #10b981;
  pointer-events: none;
  justify-content: center;
  align-items:  center;
  font-size: 10px;
  inset: 0;
}

tr.towelie-comment-range td.d2h-code-side-linenumber {
  background-color: #fbbf2461;
}

tr.towelie-comment-range td.d2h-code-side-line {
  background-color: #fbbf241f;
}

tr.towelie-comment-anchor td.d2h-code-side-linenumber {
  color: #7f1d1d;
  background-color: #f8717161;
}

tr.towelie-comment-anchor td.d2h-code-side-line {
  background-color: #f871711f;
}
